NEXT_PUBLIC_SITE_URL=http://localhost:3000
CONTENTFUL_SPACE_ID=
CONTENTFUL_ENVIRONMENT=master
CONTENTFUL_ACCESS_TOKEN=
CONTENTFUL_PREVIEW_ACCESS_TOKEN=
CONTENTFUL_PREVIEW_SECRET=
CONTENTFUL_REVALIDATE_SECONDS=300
CONTENTFUL_REVALIDATE_SECRET=
